@model OnlineShop.DAL.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Edit Product";
}

<h1>Edit Product</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Name">Product Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required />
    </div>
    <div class="form-group">
        <label for="ProductNumber">Product Number</label>
        <input type="text" class="form-control" id="ProductNumber" name="ProductNumber" value="@Model.ProductNumber" required />
    </div>
    <div class="form-group">
        <label for="Color">Color</label>
        <input type="text" class="form-control" id="Color" name="Color" value="@Model.Color"/>
    </div>
    <div class="form-group">
        <label for="Size">Size</label>
        <input type="text" class="form-control" id="Size" name="Size" value="@Model.Size" />
    </div>
    <div class="form-group">
        <label for="SellStartDate">Sell Start Date</label>
        <input type="date" class="form-control" id="SellStartDate" name="SellStartDate" value="@Model.SellStartDate" />
    </div>
    <div class="form-group">
        <label for="SellEndDate">Sell End Date</label>
        <input type="date" class="form-control" id="SellEndDate" name="SellEndDate" value="@Model.SellEndDate" />
    </div>
    <div class="form-group">
        <label for="Modified Date">Modified Date</label>
        <input type="date" class="form-control" id="ModifiedDate" name="ModifiedDate" value="@Model.ModifiedDate" />
    </div>


    <div class="form-group">
        <label for="ProductCategoryId">Category</label>
        <select class="form-control" id="ProductCategoryId" name="ProductCategoryId">
            <option value="">Select Category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.ProductCategoryId" selected="@(Model.ProductCategoryId == category.ProductCategoryId ? "selected" : "")">
                    @category.Name
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="ProductModelId">Model</label>
        <select class="form-control" id="ProductModelId" name="ProductModelId">
            <option value="">Select Model</option>
            @foreach (var models in Model.Models)
            {
                <option value="@models.ProductModelId" selected="@(Model.ProductModelId == models.ProductModelId ? "selected" : "")">
                    @models.Name
                </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="ListPrice">List Price</label>
        <input type="text" class="form-control" id="ListPrice" name="ListPrice" value="@Model.ListPrice" required />
    </div>

    <button type="submit" class="btn btn-warning">Update Product</button>
</form>

<a href="@Url.Action("Index", "Product")" class="btn btn-secondary mt-3">Back to List</a>
